@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	text-align: center;
	color:#2f2f3f;
}

/* NAV */


/* MAIN CONTENT AREA */

#container{
}
#central{
	width: 400px;
	height: auto;
	padding-top: 100px;
	display:block;
	margin: auto;
	position:relative;
}
#central h1{
	font-size: 3em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .1em;
}
#central p{
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .3em;
	font-size: 1em;
	margin-top:20px;
}
a {
	text-decoration: none;
	text-transform: none;
	color:#fff;
	font-weight: 600;
	letter-spacing: .1em;
}
a:hover {
	border-bottom: 2px solid;
	padding-bottom: 3px;
}

.button{
	background-color: #69d898 ;
	display: inline-block;

	width: auto;
	height: auto;
	padding: 10px;
	margin: auto;
}
/* FOOTER */
#footer {
	position: absolute;
    bottom: 0;
    background: #2f2f3f;
    padding-bottom: 35px;
    padding-top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 15px;
}
#footer ul {
	text-align: center;
	padding-right:10px;
	padding-left: 20px;
	margin-top: 10px;
}
#footer ul li {
	list-style:none;
	display: inline;
	font-size: .7em;
	text-transform: uppercase;
	margin-right:45px;
}
#footer ul li a{
	color: #EDEFF2;
	letter-spacing: .3em;
	text-transform: uppercase;
	font-weight: 300;
}


/*#footer img {
	height: 25px;
	width: 25px;
	padding: 10px;
}
.social-left {
}
.social-center {

}

.social-right {

}
*/