@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:600,700|Noto+Serif);
* { margin:0; padding:0; box-sizing:border-box; }

body {
	font-family: 'Noto Serif', serif;;
	font-size: 18px;
	color: #262125;
}

header {
	background-color: #f18885;
	height: 30em; 
}

nav {
	position: fixed;
	top: 13em;
	left:0;
	padding:.25em .25em;
	background-color: #590100;
	font-size: .8em;
}

nav a {
	text-transform: uppercase;
	margin:.5em 0;
	letter-spacing: .1em;
	display: block;
	text-align: center;
	text-decoration: none
}

a {
	cursor: pointer;
}


h1 {
	font-family: 'Josefin Slab', serif;
	font-weight: 700;
	font-size: 10em; 
	text-align: center;
	padding: 1em 0; 
}

h2{
	font-family: 'Josefin Slab', serif;
	font-size: 4em;

}


h3{
	font-family: 'Josefin Slab', serif;
	font-size: 1.25em;
	letter-spacing: .1em;
	text-transform: uppercase;
	padding: 1em 0; 
}

h4 { 
	font-family: 'Josefin Slab', serif;
	font-size: 1em; 
}

p{
	line-height: 1.75em;

}

a {
	font-size: 1em;
	color: #f0f1f3;
	padding: .5em;

}

a:hover {
	text-decoration: none;
}

.wrapper {
	width:68em;
	margin:auto;
}

/* POEM ONE */

#one {
	background: url("../images/fern.jpg") no-repeat center center fixed;
	background-size: cover;
}

.title-one {
	width: 63.66%;
	float: left;
	color: rgba(240,241,243,.8);
	text-shadow: 1px 1px 3px rgba(38,33,37,.2);
	font-size: 3em;
	padding: 6em 1em;
	line-height: 2.5em;
	text-align: right;

}

.poem-one {
	width: 33.33%;
	float: left;
	background-color: rgba(240,241,243,.6);
	padding: 3.5em;
	box-shadow: 1px 1px 2px rgba(38,33,37,.1);

}

/* POEM TWO */
#two {
  background-color: #F0F1F3;
	padding: 4em 0 4em 0; 

}

#title-two {
	padding: 0 0 0 4em;
	text-align: left; 
	font-size: 1.25em;
	
}

.poem-two {
  width: 50%;
  float: left;
  padding: 2em 1em 0 0;
}

.circle{
  width:30em;
  height:30em;
  border-radius: 50%;
	overflow: hidden;
	margin:auto;
}

#ptwo-pic {
	float: left;
}


/* POEM THREE */ 
#three {
	background: url("../images/highlands.jpg") no-repeat center center fixed;
	background-size: cover;
	padding: 4em 1em 4em 3em;
}

.title-three {
	text-align: center;
	font-size: 2.5em;
	color: rgba(240,241,243,.6);
	padding: 0 0 1em 0;
	text-shadow: 1px 1px rgba(38,33,37,.2);
	margin-right: 1em;
}

.verse {
	width: 23.25%;
	height: 12em; 
	float: left;
	background-color: rgba(240,241,243,.65);
	box-shadow: 1px 1px 2px rgba(38,33,37,.1);
	padding: 1.5em ;
	margin: 0 1em 0 0;

}

/* POEM FOUR */ 

#four {
	background: url("../images/coo.jpg") no-repeat center center fixed;
	background-size: cover;
}

.poem-four {
	width: 40%;
	float: left;
	background-color: rgba(240,241,243,.65);
	box-shadow: 1px 1px 2px rgba(38,33,37,.1);
	padding: 4em;

}

#title-four{
	padding: 2em 0;

}

/* FOOTER */

footer {
	background-color: #590100;
	height: 25em;
	font-size: .9em;
	line-height: 1.1em;
	color: #F0F1F3;
	padding: 4em 0 0 0;
}

footer a {
	color: #f18885;
	text-decoration: none;
	padding: 0;
}

#mary {
	width: 32.33%; 
	float: left;
}
.smcircle{
	width:15em;
	height:15em;
	border-radius: 50%;
	overflow: hidden;
	margin: auto;
}

#mary img {
	width: 100%;
    margin-top: -7em ;
}

#bio {
	width: 31.33%; 
	float: left;
	padding: 0 2em 0 0;
}

#credit {
	width: 31.33%; 
	float: left;
	padding: 0 0 0 2em; 
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media screen and (max-width: 1024px) {

	h1 {
		font-size: 8em;
		padding: 1.5em 0;
	}

	p {
		font-size:.9em;
	}
	.title-one {
		width: 60%;
		font-size: 2em;
		line-height: 2.25em;
	}

	.poem-one {
		width: 40%;
		padding: 3em;
	}
	
	.circle{
		width:20em;
		height:20em;
		margin-left: 3em; 
	}

	.title-three {
		text-align: center;
		font-size: 2em;
		color: rgba(240,241,243,.6);
		padding: 0 0 1em 0;
		text-shadow: 1px 1px rgba(38,33,37,.2);
	}

	.verse {
		width: 24%;
		height: 11em; 
		padding: 1em .5em 1em 1em;
		margin: .25em;

	}

	.poem-four {
		width: 45%;
		padding: 2em 1em 0 3.5em;
	}

	footer {
		font-size: .8em; 
		line-height: 1em;
	}

}

@media screen and (max-width: 980px) {
	h1 {
		padding: 1em 0;
	}

	.title-one {
		width: 50%;
		font-size: 1.25em;
		line-height: 2.25em;
		padding: 10em 1em 0 2em;
	}

	.poem-one {
		width: 50%;
		padding: 2em;
	}
	#title-two {
		padding: 0 0 0 8em;

	}

	.poem-two {
		width: 100%;
		float: none;
		padding: 2em 0 0 0;
	}

	.circle{
		width:0;
		height:0;
	}

	#ptwo-pic {
		float: right;
	}

	.title-three {
		font-size: 1.75em;
	}

	.verse {
		width: 44.5%;
		padding: 1.5em;
		margin: 1em;
	}

	.poem-four {
		width: 65%;
		float: left;
		background-color: rgba(240,241,243,.65);
		box-shadow: 1px 1px 2px rgba(38,33,37,.1);
		padding: 2em 1em 3em 3.5em;
	}

	footer {
		background-color: #590100;
		height: auto; 
		font-size: 1em; 
		line-height: 1.2em;
		color: #F0F1F3;
		padding: 3.5em 3em;
	}

	#mary {
		width: 100%; 
		float: none;
		padding: 0 0 1em 0;
	}

	#bio {
		width: 50%; 
		float: left;
		padding: .5em 4em;
	}

	#credit {
		width:50%; 
		float: left;
		padding: .5em 4em; 
	}

}

@media screen and (max-width: 800px) {
  #title-two {
		padding: 0 0 0 4em;
		}
}

@media screen and (max-width: 768px) {
	h1 {
		padding: 1em 0;
	}

	.title-one {
		width: 50%;
		font-size: 1.25em;
		line-height: 2.25em;
		padding: 10em 1em 0 2em;
	}

	.poem-one {
		width: 50%;
		padding: 2em;
	}
	#title-two {
		padding: 0 0 0 4em;
	}

	.poem-two {
		width: 100%;
		float: none;
		padding: 2em 0 0 0;
	}

	.circle{
		width:0;
		height:0;
	}

	#ptwo-pic {
		float: right;
	}

	.title-three {
		font-size: 1.75em;
	}

	.verse {
		width: 44.5%;
		padding: 1.5em;
		margin: 1em;
	}

	.poem-four {
		width: 65%;
		float: left;
		background-color: rgba(240,241,243,.65);
		box-shadow: 1px 1px 2px rgba(38,33,37,.1);
		padding: 2em 1em 3em 3.5em;
	}

	footer {
		background-color: #590100;
		height: auto; 
		font-size: 1em; 
		line-height: 1.2em;
		color: #F0F1F3;
		padding: 3.5em 3em;
	}

	#mary {
		width: 100%; 
		float: none;
		padding: 0 0 1em 0;
	}

	#bio {
		width: 50%; 
		float: left;
		padding: .5em 1em 0 0;
	}

	#credit {
		width:50%; 
		float: left;
		padding: .5em 0 0 1em; 
	}

}

@media screen and (max-width: 360px) {

header {
  height: 10em;
	}

nav {
	width: auto; 
	top: 0;
	right:0;
	left: 0;
	padding: .75em; 
	font-size: 1em;
}

nav a {
	padding: 1.25em;
	letter-spacing: .25em;
	display: inline;
}

	h1 {
	  margin-top: 1em;  
		font-size: 2.5em; 
		padding: 1em 1em; 
	}
	
	p {
	    line-height: 1.55em;
		font-size: 16px; 
	}

	a {
	    font-size: 1em;
	    color: #f0f1f3;
	    padding: .5em;
	}

	a:hover {
	    text-decoration: none;
	}
	
	.wrapper {
	    width: 100%;
	    margin: auto;
	}

	/* POEM ONE */

	.title-one {
	    float: none;
	    font-size: 1em;
	    padding: 4em 2em;
		line-height: 4em; 
	}

	.poem-one {
	  width: 100%;
		float: none;
	  padding: 2.5em;
		margin: 0; 
	}

	/* POEM TWO */

	#title-two {
	  padding: 1em 2em;
		line-height: 4em;
	}

	.wild {
		margin-bottom: 2em; 
	}
	.poem-two {
		padding: 0;
	}

	.circle {
		display: none;
	}

	/* POEM THREE */ 
	#three {
	    background: url("../images/highlands.jpg") no-repeat center center fixed;
	    background-size: cover;
	    padding: 1em;
	}

	.title-three {
	    font-size: 1em;
	    color: rgba(240,241,243,.6);
	    padding: 0 0 1em 5px;
	    text-shadow: 1px 1px rgba(38,33,37,.2);
	}

	.verse {
	    width: 100%;
	    height: auto; 
	    float: none;
	    background-color: rgba(240,241,243,.65);
	    box-shadow: 1px 1px 2px rgba(38,33,37,.1);
	    padding: 1.5em 1em .75em 1.5em;
	    margin: 0;
	}

	/* POEM FOUR */ 

	.poem-four {
	    width: 100%;
	    float: none;
	    padding: 2em;
		  margin: 0;
	}

	#title-four {
	    padding: 2em 0;
	}

	/* FOOTER */

	footer {
	    height: auto; 
	    font-size: 1em; 
	    line-height: 1.25em;
	    padding: 2em 1em;
	}

	#mary {
	    width: 100%; 
	    float: none;
	}
	.smcircle{
	    width:15em;
	    height:15em;
	    border-radius: 50%;
	    overflow: hidden;
	    margin: auto;
	    padding
	}

	#mary img {
	    width: 100%;
	    margin-top: -7em;
	}

	#bio {
	    width: 100%; 
	    float: none;
	    padding: 0 .5em;
		line-height: 2em;
	}

	#credit {
	    width: 100%; 
	    float: none;
		margin: 1em 0; 
	    padding: 0 .5em; 
	}

	.clearfix:after {
	    visibility: hidden;
	    display: block;
	    font-size: 0;
	    content: " ";
	    clear: both;
	    height: 0;
	}
}