@media screen and (device-width: 768px) and (device-height: 640px) {

    body {
        font-size: 1em;
    }

    header {
        position: fixed;
        width: 100%;
        background-color: #DFF1E9;

    }

    nav {
        float: right;
        padding: 1em 0;


    }

    nav a {
        padding: .5em 1em;
        text-transform: uppercase;
        font-size: .8em;
        font-weight: 400;
        letter-spacing: .05em;
        color: #ED2983;
        text-decoration: none;
    }

    .wrapper {
        width: 86em;
        margin: auto;
    }

    h3 {
        font-size: 3em; 
        padding: 0;
    }

    #services {
        padding: 2em 0 0 2em 
    }

    #serviceshead {
        margin: 0; 
        padding: 0;
    } 

    .design {
        width: 100%;
        float: none; 
        padding: 0;
    }
    .strategy {
        width: 100%; 
        float: none; 
        padding: 0;
    }

    
}

@media screen and (device-width: 425px) and (device-height: 640px) {

    body {
        font-size: 1em;
    }

    header {
        position: fixed;
        text-align: center; 
        height: 5em;
    }

    nav {
        float: none;
        margin: 0 0 0 0; 
        background-color: #ED2983; 

    }

    nav a {
        color: #fff;
        font-size: 1em;
        padding: 1.2em 0 ;
        display: block;
        text-align: center;
        border-bottom: .1em solid #fff; 
    }

    
    h1 {
        text-align: center; 
        float: none;
        padding-top: 1em;
    }

    h2 {
        font-size: 1.5em;
        padding: 0 0 .5em 0;     
}

    h3 {
        font-size: 3em; 
        padding: 0 0 .5em 0;
    }

    a {
        font-size: 1.2em;
        padding-bottom: .5em;
        text-decoration: none;
    }
    

    p {
       font-size: 1.2em; 
    }

    address {
        font-size: 1.2em;
        line-height: 1.5em; 
        padding-bottom: .75em;
        font-style: normal;
    }

    #gallery img {
        padding-bottom: .25em
    }

    .onethird {
        width: 100%;
        float: none;
    }

    .twothird {
        width: 100%;
        float: none;
    }

    #serviceshead {
        margin: 0; 
        padding: 0;
    } 

    .design {
        width: 100%;
        float: none; 
        padding: 0;
    }
    .strategy {
        width: 100%; 
        float: none; 
        padding: 0 0 1em 0;
    }

    #about img {
        width: 100%;
        float: none;
        padding: .5em 0 0 0; 
    }

    #about p {
        padding-right: 0; 
    }

    footer { 
        background-color: #DFF1E9;
        padding: 2em 2em; 
    }

    #contact {
    }

    #connect { 
        width: 100%;
        float: none;
        padding: 0 0 0 0;
    }

    #connect>h5 { 
            padding: 0 0 0 0; 
    }


    #connect ul li {
        display: inline;
    }

    .contact-info {
    display: block;
    text-decoration: none;
    line-height: 1.5em;
    }

    .social img {
        width: auto;
        padding: 1em .8em;
    }

    form {
        float: none;
        width: 100%;
    }

    input {
        width: 100%;
        font-size: 1em;
    }

    button {
        width: 100%;
        font-size: 1em;

    }

    textarea {
        width: 100%;
        font-size: 1em;
    }

}


@media screen and (device-width: 375px) and (device-height: 640px) {

 body {
        font-size: 1em;
    }

    header {
        position: fixed;
        text-align: center; 
        height: 5em;
    }

    nav {
        float: none;
        margin: 0 0 0 0; 
        background-color: #ED2983; 
    }

    nav a {
        color: #fff;
        font-size: 1em;
        padding: 1em 0 ;
        display: block;
        text-align: center;
        border-bottom: .1em solid #fff; 
    }

    
    h1 {
        font-size: 1em;
        text-align: center; 
        float: none;
        padding-top: 1em;
    }

    h2 {
        font-size: 1em;
        font-weight: 400;
        padding: 0 0 .5em 0; 
        text-align: center;    
}

    h3 {
        font-size: 2.2em; 
        padding: 0 0 .5em 0;
    }

    a {
        font-size: 1.2em;
        padding-bottom: .5em;
        text-decoration: none;
    }
    

    p {
       font-size: 1.2em; 
    }

    address {
        font-size: 1.2em;
        line-height: 1.5em; 
        padding-bottom: .75em;
        font-style: normal;
}

    #gallery img {
        padding-bottom: .25em
    }

    .onethird {
        width: 100%;
        float: none;
    }

    .twothird {
        width: 100%;
        float: none;
    }


    #serviceshead {
        margin: 0; 
        padding: 0;
    } 

    .design {
        width: 100%;
        float: none; 
        padding: 0;
    }
    .strategy {
        width: 100%; 
        float: none; 
        padding: 0 0 1em 0;
    }

    #about img {
        width: 100%;
        float: none;
        padding: .5em 0 0 0; 
    }

    #about p {
        padding-right: 0; 
    }

    footer { 
        background-color: #DFF1E9;
        padding: 2em 2em; 
    }

    #contact {
    }

    #connect { 
        width: 100%;
        float: none;
        padding: 0 0 0 0;
    }

    #connect>h5 { 
        padding: 0 0 0 0; 
    }


    #connect ul li {
        display: inline;
    }

    .contact-info {
        display: block;
        text-decoration: none;
        line-height: 1.5em;
    }

    .social img {
        width: auto;
        padding: .5em .75em .5em 0;
    }

    #connect ul li {
        display: inline;

    }

    form {
        float: none;
        width: 100%;
    }

    input {
        width: 100%;
        font-size: 1em;
    }

    button {
        width: 100%;
        font-size: 1em;

    }

    textarea {
        width: 100%;
        font-size: 1em;
    }   

}

@media screen and (device-width: 320px) and (device-height: 640px) {

 body {
        font-size: 1em;
    }

    header {
        position: fixed;
        text-align: center; 
        height: 5em;
    }

    nav {
        float: none;
        margin: 0 0 0 0; 
        background-color: #ED2983; 
    }

    nav a {
        color: #fff;
        font-size: 1em;
        padding: 1em 0 ;
        display: block;
        text-align: center;
        border-bottom: .1em solid #fff; 
    }

    
    h1 {
        font-size: 1em;
        text-align: center; 
        float: none;
        padding-top: 1em;
    }

    h2 {
        font-size: 1em;
        font-weight: 400;
        padding: 0 0 .5em 0; 
        text-align: center;    
    }

    h3 {
        font-size: 2.2em; 
        padding: 0 0 .5em 0;
    }

    a {
        font-size: 1.2em;
        padding-bottom: .5em;
        text-decoration: none;
    }
    
    p {
       font-size: 1.2em; 
    }

    address {
        font-size: 1.2em;
        line-height: 1.5em; 
        padding-bottom: .75em;
        font-style: normal;
    }

    #gallery img {
        padding-bottom: .25em
    }

    .onethird {
        width: 100%;
        float: none;
    }

    .twothird {
        width: 100%;
        float: none;
    }


    #serviceshead {
        margin: 0; 
        padding: 0;
    } 

    .design {
        width: 100%;
        float: none; 
        padding: 0;
    }
    .strategy {
        width: 100%; 
        float: none; 
        padding: 0 0 1em 0;
    }

    #about img {
        width: 100%;
        float: none;
        padding: .5em 0 0 0; 
    }

    #about p {
        padding-right: 0; 
    }

    footer { 
        background-color: #DFF1E9;
        padding: 2em 2em; 
    }

    #contact {
    }

    #connect { 
        width: 100%;
        float: none;
        padding: 0 0 0 0;
    }

    #connect>h5 { 
            padding: 0 0 0 0; 
    }


    #connect ul li {
        display: inline;
    }

    .contact-info {
    display: block;
    text-decoration: none;
    line-height: 1.5em;
    }

    .social img {
        width: auto;
        padding: .5em .75em .5em 0;
    }

    #connect ul li {
        display: inline;

    }

    form {
        float: none;
        width: 100%;
    }

    input {
        width: 100%;
        font-size: 1em;
    }

    button {
        width: 100%;
        font-size: 1em;

    }

    textarea {
        width: 100%;
        font-size: 1em;

    }

}