@import url(https://fonts.googleapis.com/css?family=Lobster+Two|Josefin+Sans:400,600,300);
* { margin:0; padding:0; box-sizing:border-box; }

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #5C5B65;
}

header {
    position: relative;
    width: 100%;
    height: 3em;
    background-color: #DFF1E9;
    margin-bottom: .5em;

}

nav {
    float: right;
    margin: 1em 0;

}

nav a {
    padding: .5em 1em;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 400;
    letter-spacing: .05em;
    color: #ED2983;
    text-decoration: none;
}

.wrapper {
    width: 86em;
    margin: auto;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

h1 {
    float: left;
    padding: .6em;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: .1em;
    color: #ED2983;
}

h2 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .08em;
    font-size: 1em;
    padding: .5em 0 ;
    color: #ED2983;
}

h3 {
    font-family: 'Lobster Two', cursive;
    font-size: 8em; 
    padding: 0 0 2em 0;
    color: #8BCFBA;
}

h4 { 
    font-weight: 600;
    font-size: 1.25em;
    padding: 1em 0 .5em 0; 
}

h5 {
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
    padding: 0 0 1em 0;
}

h6 {
    letter-spacing: .08em;
    font-size: 1em;
    padding: .75em 0 .5em 0 ; 
    
}

p {
    line-height: 1.5em; 
    padding-bottom: .75em

}

address {
    line-height: 1.5em; 
    padding-bottom: .75em;
    font-style: normal;
}

a { 
    color: #ED2983; 

}

a:hover {
    cursor: pointer;
}



/* HEADLINE */

#headline {
    font-family: 'Lobster Two', cursive;
    font-size: 2em;
    font-weight: 600;
    color: #5C5B6F;
    margin: .5em .5em;
}

/* GALLERY */
#gallery {
}

#gallery h2 {
    padding: 0 0 1em 1em;

}

.onethird {
    width: 33.33%;
    float: left;
    padding: .25em;
}

.twothird {
    width: 66.66%;
    float: left;
    padding: .25em;
}


/* SERVICES */
#services {
    background-color: #DFF1E9;
    padding: 2em 1em; 
}

#serviceshead {
    text-align: center;
    margin-bottom: -15em; 
}

.amp {
    color: #ED2983;
}

#service-list {
}
.design {
    width: 50%;
    float: left; 
    padding: 0em 1em 0 10em;
}

.design ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5em; 
    line-height: 1.5em; 
    color: #ED2983;
    text-align: center
}

.strategy {
    width: 50%;
    float: left; 
    padding: 0em 10em 0 1em;
}

.strategy ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5em; 
    line-height: 1.5em; 
    color: #ED2983;
    text-align: center
}

/* ABOUT */ 


#about { 
    padding: 2em 2em; 
}
#about img {
    width: 40%;
    float: left;
    padding: 1em 3em 3em 2em; 
}
 
#about p {
    padding-right: 5em; 
}

/* FOOTER */ 

footer { 
    background-color: #DFF1E9;
    padding: 2em 2em; 
}

#contact {
}

#connect { 
    width: 50%;
    float: left;
    padding: 0 5em 0 0;
}

#connect>h5 { 
        padding: 1em 0 .5em 0; 
}

.social img {
    width: auto;
    margin: .25em;
    clear: both;
}

#connect ul li {
    display: inline;
}

.contact-info {
    display: block;
    text-decoration: none;
    line-height: 1.5em;
    }

address { 
    line-height: 1.5em;
    padding: 0 0 .5em 0;
}

.social a:hover { 
    text-decoration: none;
}

form {
    float: left;
    width: 50%;
}

input {
    width: 100%;
    padding: 1em;
    margin: 0 0 .5em 0;
    box-sizing: border-box;
    border: .2em solid #8bcfba;
    background-color: #fff;
    color: #8bcfba;
    font-size: .8em;
}

input:focus {
    border: none;
}

button {
    width: 20%;
    background-color: #8bcfba;
    font-size: .8em;
    letter-spacing: .2em;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding: 1em 1em;
    margin: 1em 0 ;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 20%;
    padding: 1em;
    box-sizing: border-box;
    border: .2em solid #8bcfba;
    background-color: #fff;
    resize: none;
    color: #8bcfba;
    font-size: .8em;
}    


#copy { 
    text-align: center; 
    padding: 2em 0 0 0; 
    font-size: .8em; 
    letter-spacing: .08em; 
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media screen and (max-width: 1024px) {

   h3 {
       font-size: 7em;
       padding-bottom: 2.5em;
   }

   .design {
    width: 50%;
    float: left; 
    padding: 0em 1em 0 10em;
}

.design ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5em; 
    line-height: 1.5em; 
    color: #ED2983;
    text-align: center
}

.strategy {
    width: 50%;
    float: left; 
    padding: 0em 1em 0 1em;
}

.strategy ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5em; 
    line-height: 1.5em; 
    color: #ED2983;
    text-align: center
}
}

@media screen and (max-width: 768px) { 
     body {
        font-size: 1em;
    }

    header {
        position: relative; 
        text-align: center; 
        height: 5em;
    }

    nav {
        width: 100%;
        float: left;
        margin: 0 0 0 0; 
        background-color: #DFF1E9;
    }

    nav a {
        color: #fff;
        font-size: 1em;
        padding: 1em 1.5em;
        display: inline-block;
        text-align: center;
        color: #ED2983; 
    }

    h1 {
        text-align: center; 
        float: none;
        padding-top: 1em;
    }

    h2 {
        font-size: 1.5em;
        padding: 0 0 .5em 0;     
    }

    h3 {
        font-size: 3em; 
        padding: 0 0 .5em 0;
    }

    a {
        font-size: 1.2em;
        padding-bottom: .5em;
        text-decoration: none;
    }

    p {
       font-size: 1.2em; 
    }

    address {
        font-size: 1.2em;
        line-height: 1.5em; 
        padding-bottom: .75em;
        font-style: normal;
    }
    #services {
        padding: 2em 0 0 2em 
    }

    #serviceshead {
        margin: 0; 
        padding: 0;
    } 

    .design {
        width: 100%;
        float: none; 
        padding: 0;
    }
    .strategy {
        width: 100%; 
        float: none; 
        padding: 0;
    }
} 

@media screen and (max-width: 425px) {

    body {
        font-size: 1em;
    }

    header {
        position: relative; 
        text-align: center; 
        height: 5em;
    }

    nav {
        width: 100%;
        float: left;
        margin: 0 0 0 0; 
        background-color: #DFF1E9;
    }

    nav a {
        color: #fff;
        font-size: 1em;
        padding: 1em 1.5em;
        display: inline-block;
        text-align: center;
        color: #ED2983; 
    }

    h1 {
        text-align: center; 
        float: none;
        padding-top: 1em;
    }

    h2 {
        font-size: 1.5em;
        padding: 0 0 .5em 0;     
    }

    h3 {
        font-size: 3em; 
        padding: 0 0 .5em 0;
    }

    a {
        font-size: 1.2em;
        padding-bottom: .5em;
        text-decoration: none;
    }

    p {
       font-size: 1.2em; 
    }

    address {
        font-size: 1.2em;
        line-height: 1.5em; 
        padding-bottom: .75em;
        font-style: normal;
    }

    #gallery img {
        padding-bottom: .25em
    }

    .onethird {
        width: 100%;
        float: none;
    }

    .twothird {
        width: 100%;
        float: none;
    }

    #serviceshead {
        margin: 0; 
        padding: 0;
    } 

    .design {
        width: 100%;
        float: none; 
        padding: 0;
    }
    .strategy {
        width: 100%; 
        float: none; 
        padding: 0 0 1em 0;
    }

    #about img {
        width: 100%;
        float: none;
        padding: .5em 0 0 0; 
    }

    #about p {
        padding-right: 0; 
    }

    footer { 
        background-color: #DFF1E9;
        padding: 2em 2em; 
    }

    #contact {
    }

    #connect { 
        width: 100%;
        float: none;
        padding: 0 0 0 0;
    }

    #connect>h5 { 
            padding: 0 0 0 0; 
    }


    #connect ul li {
        display: inline;
    }

    .contact-info {
        display: block;
        text-decoration: none;
        line-height: 1.5em;
    }

    .social img {
        width: auto;
        padding: 1em .8em;
    }

    form {
        float: none;
        width: 100%;
    }

    input {
        width: 100%;
        font-size: 1em;
    }

    button {
        width: 100%;
        font-size: 1em;

    }

    textarea {
        width: 100%;
        font-size: 1em;
    }
}

@media screen and (max-width: 375px) {

    body {
        font-size: 1em;
    }

    header {
        position: relative; 
        text-align: center; 
        height: 5em;
    }

    nav {
        width: 100%;
        float: left;
        margin: 0 0 0 0; 
        background-color: #DFF1E9;
    }

    nav a {
        color: #fff;
        font-size: 1em;
        padding: 1em 1.5em;
        display: inline-block;
        text-align: center;
        color: #ED2983; 
    }

    
    h1 {
        font-size: 1em;
        text-align: center; 
        float: none;
        padding-top: 1em;
    }

    h2 {
        font-size: 1em;
        font-weight: 400;
        padding: 0 0 .5em 0; 
        text-align: center;    
    }

    h3 {
        font-size: 2.2em; 
        padding: 0 0 .5em 0;
    }

    a {
        font-size: 1.2em;
        padding-bottom: .5em;
        text-decoration: none;
    }
    

    p {
       font-size: 1.2em; 
    }

    address {
        font-size: 1.2em;
        line-height: 1.5em; 
        padding-bottom: .75em;
        font-style: normal;
    }

    #gallery img {
        padding-bottom: .25em
    }

    .onethird {
        width: 100%;
        float: none;
    }

    .twothird {
        width: 100%;
        float: none;
    }


    #serviceshead {
        margin: 0; 
        padding: 0;
    } 

    .design {
        width: 100%;
        float: none; 
        padding: 0;
    }
    .strategy {
        width: 100%; 
        float: none; 
        padding: 0 0 1em 0;
    }

    #about img {
        width: 100%;
        float: none;
        padding: .5em 0 0 0; 
    }

    #about p {
        padding-right: 0; 
    }

    footer { 
        background-color: #DFF1E9;
        padding: 2em 2em; 
    }

    #contact {
    }

    #connect { 
        width: 100%;
        float: none;
        padding: 0 0 0 0;
    }

    #connect>h5 { 
        padding: 0 0 0 0; 
    }


    #connect ul li {
        display: inline;
    }

    .contact-info {
        display: block;
        text-decoration: none;
        line-height: 1.5em;
    }

    .social img {
        width: auto;
        padding: .5em .75em .5em 0;
    }

    #connect ul li {
        display: inline;

    }

    form {
        float: none;
        width: 100%;
    }

    input {
        width: 100%;
        font-size: 1em;
    }

    button {
        width: 100%;
        font-size: 1em;

    }

    textarea {
        width: 100%;
        font-size: 1em;
    }   

}

@media screen and (max-width: 320px) {

 body {
        font-size: 1em;
    }

    header {
        position: relative; 
        text-align: center; 
        height: 5em;
    }

    nav {
        width: 100%;
        float: left;
        margin: 0 0 0 0; 
        background-color: #DFF1E9;
    }

    nav a {
        color: #fff;
        font-size: 1em;
        padding: 1em 1.5em;
        display: inline-block;
        text-align: center;
        color: #ED2983; 
    }

    h1 {
        font-size: 1em;
        text-align: center; 
        float: none;
        padding-top: 1em;
    }

    h2 {
        font-size: 1em;
        font-weight: 400;
        padding: 0 0 .5em 0; 
        text-align: center;    
    }

    h3 {
        font-size: 2.2em; 
        padding: 0 0 .5em 0;
    }

    a {
        font-size: 1.2em;
        padding-bottom: .5em;
        text-decoration: none;
    }
    
    p {
       font-size: 1.2em; 
    }

    address {
        font-size: 1.2em;
        line-height: 1.5em; 
        padding-bottom: .75em;
        font-style: normal;
    }

    #gallery img {
        padding-bottom: .25em
    }

    .onethird {
        width: 100%;
        float: none;
    }

    .twothird {
        width: 100%;
        float: none;
    }


    #serviceshead {
        margin: 0; 
        padding: 0;
    } 

    .design {
        width: 100%;
        float: none; 
        padding: 0;
    }
    .strategy {
        width: 100%; 
        float: none; 
        padding: 0 0 1em 0;
    }

    #about img {
        width: 100%;
        float: none;
        padding: .5em 0 0 0; 
    }

    #about p {
        padding-right: 0; 
    }

    footer { 
        background-color: #DFF1E9;
        padding: 2em 2em; 
    }

    #contact {
    }

    #connect { 
        width: 100%;
        float: none;
        padding: 0 0 0 0;
    }

    #connect>h5 { 
            padding: 0 0 0 0; 
    }


    #connect ul li {
        display: inline;
    }

    .contact-info {
    display: block;
    text-decoration: none;
    line-height: 1.5em;
    }

    .social img {
        width: auto;
        padding: .5em .75em .5em 0;
    }

    #connect ul li {
        display: inline;

    }

    form {
        float: none;
        width: 100%;
    }

    input {
        width: 100%;
        font-size: 1em;
    }

    button {
        width: 100%;
        font-size: 1em;

    }

    textarea {
        width: 100%;
        font-size: 1em;

    }

}