@import url(https://fonts.googleapis.com/css?family=Lobster+Two|Josefin+Sans:400,600,300);
* { margin:0; padding:0; box-sizing:border-box; }

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #5C5B65;
}

header {
    width: 100%;
    height: 3em;
    background-color: #DFF1E9;
    margin-bottom: .5em;
}

nav {
    float: right;
    margin: 1em 0;

}

nav a {
    padding: 1em 1em;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 400;
    letter-spacing: .05em;
    color: #ED2983;
    text-decoration: none;
}

nav a:hover {
    background-color: #ED2983;
    color: #fff;
    transition-duration: .1s;
}
img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

h1 {
    float: left;
    padding: .6em;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: .1em;
    color: #ED2983;
}

h2 {
    font-family: 'Lobster Two', cursive;
    font-size: 3em; 
    color: #8BCFBA;
}

h3 {
    font-weight: 600;
    letter-spacing: .06em;
    font-size: 1.25em;
    padding: .5em 0;
}

h4 { 
    font-weight: 600;
    font-size: 1.25em;
    padding: 1em 0 .5em 0; 
}

h5 {
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
    padding: 0 0 1em 0;
}

p {
    line-height: 1.5em; 
    padding-bottom: .75em

}

address {
    line-height: 1.5em; 
    padding-bottom: .75em;
    font-style: normal;
}

a { 
    color: #ED2983; 

}

a:hover {
    cursor: pointer;
}

ul {
    list-style: none;
}

/* HEADLINE 

#headline {
    font-family: 'Lobster Two', cursive;
    font-size: 2em;
    font-weight: 600;
    color: #5C5B6F;
    margin: .5em .5em;
}

*/
.wrapper {
    width: 86em;
    margin: auto;
}

/* GALLERY */
#gallery a {
    display:block;
    position:relative;
}

.overlay {
    background:#ED2983;
    opacity:0;
    position:absolute;
    transition-duration:.5s;
    top:.25em;
    right:.25em;
    bottom:.475em;
    left:.25em;
}
.textoverlay {
    width: 17em;
    color:#fff;
    position:absolute;
    top:40%;
    left:40%;
    transform:translate(-50%,-10%);
    line-height: 1em;
}

.textoverlay>h3 {
    width: 17em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .08em;
    font-size: 1.5em;
    color: #fff;

}

.textoverlay p {
    font-size: 1.25em;
    font-weight: 300; 
    letter-spacing: .05em;
}

.overlay:hover {
    opacity:1;
}
.onethird {
    width: 33.33%;
    float: left;
    padding: .25em;
}

.twothird {
    width: 66.66%;
    float: left;
    padding: .25em;
}

.twothird h3 {
    font-size: 3em; 
    width: 12em;
    margin-left: -3em; 
}

.twothird p {
    font-size: 2em; 
    width: 13em;
    margin-left: -4.5em; 
}
/* SERVICES */
#services {
    background-color: #DFF1E9;
    width: 100%;
    padding: 2em 0;
}

#services>h2 {
    font-family: 'Lobster Two', cursive;
    font-size: 8em; 
    text-align: center;
    color: #8BCFBA;
}
.amp {
    color: #ED2983;
}

.servicelist {
    width: 1200px; 
    margin: auto;
}

.servicelist li {
    width: 50%;
    float: left; 
    text-align: center;
    line-height: 1.5em; 
    color: #ED2983; 
    font-size: 1.25em;
    text-decoration: none;
}

/* ABOUT */ 


#about { 
    padding: 2em 0; 
    width: 1200px; 
    margin: auto; 
}
#about img {
    width: 40%;
    float: left;
    padding: 1em 3em 3em 2em; 
}
 
#about p {
    width: 60%;
    float: left; 
}

/* FOOTER */ 

footer { 
    background-color: #DFF1E9;
    padding: 2em 2em; 
}

#connect { 
    width: 50%;
    float: left;
    padding: 0 5em 0 0;
}

#connect>h5 { 
    padding: 1em 0 .5em 0; 
}

#contact-info {
    display: block;
    text-decoration: none;
    line-height: 1.5em;
    }

address { 
    line-height: 1.5em;
    padding: 0 0 .5em 0;
}

.social img {
    width: auto;
    margin: .25em;
}

#connect ul li {
    display: inline;
}

.social a:hover { 
    text-decoration: none;
}

form {
    width: 50%;
    float: left;
}

label {
    text-transform: uppercase;
    letter-spacing: .08em;
    font-size: 1em;
    line-height: 2em;    
}

input {
    width: 100%;
    padding: 1em;
    margin: 0 0 .5em 0;
    box-sizing: border-box;
    border: .2em solid #8bcfba;
    background-color: #fff;
    color: #8bcfba;
    font-size: .8em;
}

*:focus {
    border: .2em solid #8bcfba;
    outline: none;
    }

textarea {
    width: 100%;
    height: 20%;
    padding: 1em;
    box-sizing: border-box;
    border: .2em solid #8bcfba;
    background-color: #fff;
    resize: none;
    color: #8bcfba;
    font-size: .8em;
}    

button {
    width: 20%;
    background-color: #8bcfba;
    font-size: .8em;
    letter-spacing: .2em;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding: 1em 1em;
    margin: 1em 0 3em 0 ;
    cursor: pointer;
}

#copy { 
    text-align: center; 
    font-size: .8em; 
    letter-spacing: .08em; 
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media screen and (max-width: 1024px) {

   h3 {
       font-size: 7em;
       padding-bottom: 2.5em;
   }

   .design {
    width: 50%;
    float: left; 
    padding: 0em 1em 0 10em;
}

.design ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5em; 
    line-height: 1.5em; 
    color: #ED2983;
    text-align: center
}

.strategy {
    width: 50%;
    float: left; 
    padding: 0em 1em 0 1em;
}

.strategy ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5em; 
    line-height: 1.5em; 
    color: #ED2983;
    text-align: center
}
}

@media screen and (max-width: 768px) { 
     body {
        font-size: 1em;
    }

    header {
        position: relative; 
        text-align: center; 
        height: 5em;
    }

    nav {
        width: 100%;
        float: left;
        margin: 0 0 0 0; 
        background-color: #DFF1E9;
    }

    nav a {
        color: #fff;
        font-size: 1em;
        padding: 1em 1.5em;
        display: inline-block;
        text-align: center;
        color: #ED2983; 
    }

    h1 {
        text-align: center; 
        float: none;
        padding-top: 1em;
    }

    h2 {
        font-size: 1.5em;
        padding: 0 0 .5em 0;     
    }

    h3 {
        font-size: 3em; 
        padding: 0 0 .5em 0;
    }

    a {
        font-size: 1.2em;
        padding-bottom: .5em;
        text-decoration: none;
    }

    p {
       font-size: 1.2em; 
    }

    address {
        font-size: 1.2em;
        line-height: 1.5em; 
        padding-bottom: .75em;
        font-style: normal;
    }
    #services {
        padding: 2em 0 0 2em 
    }

    #serviceshead {
        margin: 0; 
        padding: 0;
    } 

    .design {
        width: 100%;
        float: none; 
        padding: 0;
    }
    .strategy {
        width: 100%; 
        float: none; 
        padding: 0;
    }
} 

@media screen and (max-width: 425px) {

    body {
        font-size: 1em;
    }

    header {
        position: relative; 
        text-align: center; 
        height: 5em;
    }

    nav {
        width: 100%;
        float: left;
        margin: 0 0 0 0; 
        background-color: #DFF1E9;
    }

    nav a {
        color: #fff;
        font-size: 1em;
        padding: 1em 1.5em;
        display: inline-block;
        text-align: center;
        color: #ED2983; 
    }

    h1 {
        text-align: center; 
        float: none;
        padding-top: 1em;
    }

    h2 {
        font-size: 1.5em;
        padding: 0 0 .5em 0;     
    }

    h3 {
        font-size: 3em; 
        padding: 0 0 .5em 0;
    }

    a {
        font-size: 1.2em;
        padding-bottom: .5em;
        text-decoration: none;
    }

    p {
       font-size: 1.2em; 
    }

    address {
        font-size: 1.2em;
        line-height: 1.5em; 
        padding-bottom: .75em;
        font-style: normal;
    }

    #gallery img {
        padding-bottom: .25em
    }

    .onethird {
        width: 100%;
        float: none;
    }

    .twothird {
        width: 100%;
        float: none;
    }

    #serviceshead {
        margin: 0; 
        padding: 0;
    } 

    .design {
        width: 100%;
        float: none; 
        padding: 0;
    }
    .strategy {
        width: 100%; 
        float: none; 
        padding: 0 0 1em 0;
    }

    #about img {
        width: 100%;
        float: none;
        padding: .5em 0 0 0; 
    }

    #about p {
        padding-right: 0; 
    }

    footer { 
        background-color: #DFF1E9;
        padding: 2em 2em; 
    }

    #contact {
    }

    #connect { 
        width: 100%;
        float: none;
        padding: 0 0 0 0;
    }

    #connect>h5 { 
            padding: 0 0 0 0; 
    }


    #connect ul li {
        display: inline;
    }

    .contact-info {
        display: block;
        text-decoration: none;
        line-height: 1.5em;
    }

    .social img {
        width: auto;
        padding: 1em .8em;
    }

    form {
        float: none;
        width: 100%;
    }

    input {
        width: 100%;
        font-size: 1em;
    }

    button {
        width: 100%;
        font-size: 1em;

    }

    textarea {
        width: 100%;
        font-size: 1em;
    }
}

@media screen and (max-width: 375px) {

    body {
        font-size: 1em;
    }

    header {
        position: relative; 
        text-align: center; 
        height: 5em;
    }

    nav {
        width: 100%;
        float: left;
        margin: 0 0 0 0; 
        background-color: #DFF1E9;
    }

    nav a {
        color: #fff;
        font-size: 1em;
        padding: 1em 1.5em;
        display: inline-block;
        text-align: center;
        color: #ED2983; 
    }

    
    h1 {
        font-size: 1em;
        text-align: center; 
        float: none;
        padding-top: 1em;
    }

    h2 {
        font-size: 1em;
        font-weight: 400;
        padding: 0 0 .5em 0; 
        text-align: center;    
    }

    h3 {
        font-size: 2.2em; 
        padding: 0 0 .5em 0;
    }

    a {
        font-size: 1.2em;
        padding-bottom: .5em;
        text-decoration: none;
    }
    

    p {
       font-size: 1.2em; 
    }

    address {
        font-size: 1.2em;
        line-height: 1.5em; 
        padding-bottom: .75em;
        font-style: normal;
    }

    #gallery img {
        padding-bottom: .25em
    }

    .onethird {
        width: 100%;
        float: none;
    }

    .twothird {
        width: 100%;
        float: none;
    }


    #serviceshead {
        margin: 0; 
        padding: 0;
    } 

    .design {
        width: 100%;
        float: none; 
        padding: 0;
    }
    .strategy {
        width: 100%; 
        float: none; 
        padding: 0 0 1em 0;
    }

    #about img {
        width: 100%;
        float: none;
        padding: .5em 0 0 0; 
    }

    #about p {
        padding-right: 0; 
    }

    footer { 
        background-color: #DFF1E9;
        padding: 2em 2em; 
    }

    #contact {
    }

    #connect { 
        width: 100%;
        float: none;
        padding: 0 0 0 0;
    }

    #connect>h5 { 
        padding: 0 0 0 0; 
    }


    #connect ul li {
        display: inline;
    }

    .contact-info {
        display: block;
        text-decoration: none;
        line-height: 1.5em;
    }

    .social img {
        width: auto;
        padding: .5em .75em .5em 0;
    }

    #connect ul li {
        display: inline;

    }

    form {
        float: none;
        width: 100%;
    }

    input {
        width: 100%;
        font-size: 1em;
    }

    button {
        width: 100%;
        font-size: 1em;

    }

    textarea {
        width: 100%;
        font-size: 1em;
    }   

}

@media screen and (max-width: 320px) {

 body {
        font-size: 1em;
    }

    header {
        position: relative; 
        text-align: center; 
        height: 5em;
    }

    nav {
        width: 100%;
        float: left;
        margin: 0 0 0 0; 
        background-color: #DFF1E9;
    }

    nav a {
        color: #fff;
        font-size: 1em;
        padding: 1em 1.5em;
        display: inline-block;
        text-align: center;
        color: #ED2983; 
    }

    h1 {
        font-size: 1em;
        text-align: center; 
        float: none;
        padding-top: 1em;
    }

    h2 {
        font-size: 1em;
        font-weight: 400;
        padding: 0 0 .5em 0; 
        text-align: center;    
    }

    h3 {
        font-size: 2.2em; 
        padding: 0 0 .5em 0;
    }

    a {
        font-size: 1.2em;
        padding-bottom: .5em;
        text-decoration: none;
    }
    
    p {
       font-size: 1.2em; 
    }

    address {
        font-size: 1.2em;
        line-height: 1.5em; 
        padding-bottom: .75em;
        font-style: normal;
    }

    #gallery img {
        padding-bottom: .25em
    }

    .onethird {
        width: 100%;
        float: none;
    }

    .twothird {
        width: 100%;
        float: none;
    }


    #serviceshead {
        margin: 0; 
        padding: 0;
    } 

    .design {
        width: 100%;
        float: none; 
        padding: 0;
    }
    .strategy {
        width: 100%; 
        float: none; 
        padding: 0 0 1em 0;
    }

    #about img {
        width: 100%;
        float: none;
        padding: .5em 0 0 0; 
    }

    #about p {
        padding-right: 0; 
    }

    footer { 
        background-color: #DFF1E9;
        padding: 2em 2em; 
    }

    #insidewrapper {
        width: 1200px;
        margin: auto;
    }

    #connect { 
        width: 100%;
        float: none;
        padding: 0 0 0 0;
    }

    #connect>h5 { 
            padding: 0 0 0 0; 
    }

    #contact-info {
    display: block;
    text-decoration: none;
    line-height: 1.5em;
    }

    #connect ul li {
        display: inline;

    }

    .social img {
        width: auto;
        padding: .5em .75em .5em 0;
    }


    form {
        float: none;
        width: 100%;
    }

    input {
        width: 100%;
        font-size: 1em;
    }

    button {
        width: 100%;
        font-size: 1em;

    }

    textarea {
        width: 100%;
        font-size: 1em;

    }

}

