@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:600,300|Open+Sans:400,400italic);
* { margin:0; padding:0; box-sizing:border-box; }

body {
    color: #5C5B6F;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

header {
    float: left;
    margin: 20px 0px 50px 0px;
}

nav {
    text-transform: uppercase;
    letter-spacing: .1em;
    float: right;
    margin: 30px 50px 0 0 ; 

}
nav ul {
    float: right;
}
nav ul li{ 
    list-style: none;
    display: inline;
    margin: 10px;
    padding-left: 5px;
}

nav a:hover {
    border-bottom: 2px solid;
    padding-bottom: 3px;}

.wrapper {
    width: 1025px;
    margin: 0 auto;
}

section {
    clear: both;
    width: 100%;
}

#headline {
    font-size: 2.5em;
    font-weight: 300;
    color: #

}

footer {
    background-color: #5C5B6F;
    color: #DFF1E9;
    padding: 23px 0 10px 0;
    text-align: center;
    font-size: .7em;
    letter-spacing: .1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-weight: 300;
    font-size: 3.5em;
    letter-spacing:3px;
    float: left;
    padding: 0 0 5px 0;
    color: #8BCFBA;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    color: #5c5b6f;
    text-align: center;
}

h3 {
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .07em;
    color: #8BCFBA;
    padding: 50px 0 20px 0;
}

h4 {
    font-weight: 300;
    font-style: italic;
    font-size: 1.75em;
    padding: 0 0 20px 0;
}

h5 {
    font-weight: 600;
    font-size: 1.3em;
    color: #5c5b6f;
    padding-bottom: 25px;
}

h6 {
    font-weight: 600;
    font-size: 1.3em;
    color: #5c5b6f;
    padding-top: 25px;
    padding-bottom: 10px;

}

p {
    line-height: 1.5em;
    padding: 0 0 15px 0;
}

a {
    text-decoration: none;
    line-height: 1.5em;
    color: #ED296F;
}

a:hover {

}

ul {

}

ul li {
    display: inline;
    padding: 3px 3px 0 0;
}

button {
    background-color: #8bcfba;
    font-size: .8em;
    letter-spacing: .2em;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding: 13px 15px;
    margin: 2% 10% 4% 0;
    cursor: pointer;
    float: right;
}

/* Photo Grid */

#photogrid img {
    margin-bottom: 15px;

}

#photogrid button {
    background-color: #8bcfba;
    font-size: .8em;
    letter-spacing: .2em;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding: 13px 15px;
    margin: 0 55px 0 0;
    cursor: pointer;
    float: right;
}

.left-col-top {
    width: 64%;
    float: left;
    margin-right: 5px;
}

.right-col-top {
    float: right;
    margin-bottom: 10px;
}
 
.left-col-btm {
    float: left;
    width: 30%;

}

.right-col-btm {
    float: right;
    width: 67%;
}

#btm-row ul{
    display: inline;
}

/* ABOUT */ 

#left {
    padding: 0;
    float: left;
    width: 40%;
}

#right {
    padding: 0 50px 0 30px;
    float: right;   
    width: 60%;
}

/* CONTACT */ 
#contact img {
    padding: 5px;
}
#connect { 
    float: right;
    width: 39%;
    clear: none;
}

/* FORM */ 
form {
    float: left;
    width: 60%;
}

input {
    width: 90%;
    padding: 10px;
    margin: 0 0 30px 0;
    box-sizing: border-box;
    border: 2px solid #8bcfba;
    background-color: #fff;
    color: #8bcfba;
    font-size: .8em;
}

.btn {
    width: 20%;
    background-color: #8bcfba;
    font-size: .8em;
    letter-spacing: .2em;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding: 13px 15px;
    margin: 2% 10% 4% 0;
    cursor: pointer;
    float: right;
}

textarea {
    width: 90%;
    height: 150px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #8bcfba;
    background-color: #fff;
    resize: none;
    color: #8bcfba;
    font-size: .8em;
}    


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
