body {
  text-align: left;
  background: url("../images/floridasunset.jpg");
  background-size: cover;
  color: #F4F0E8;
  font-family: Helvetica;
  font-size: 18px;
  margin:30px;
}
hr{
	color: #191626;
}
h1 {
	font-size: 58px;
	font-weight: 600;
	letter-spacing:6px;
	text-align: center;
	text-transform:uppercase;
	color: #B9D8D8;
}
h3{
	font-size: 18px;
	color: #A6A6A6;
	text-transform: uppercase;
}
p {
}
#slogan{
	font-style: italic;
	font-weight:200;
	text-align:center;
	letter-spacing: 3px;
	text-transform: capitalize;
}
a {
	text-decoration: none;
	color:#F8F0E8;
}
a:hover {
	text-decoration: underline;
	color:#B9D8D8;
}